                                        * {
                                            padding: 0;
                                            margin: 0;
                                            border: 0;
                                            list-style-type: none;
                                        }
                                        
                                        nav {
                                            padding: 2em;
                                            display: grid;
                                            grid-template-columns: 3fr 5fr 1fr;
                                            box-shadow: 1px 1px 7px black;
                                        }
                                        
                                        .sidebar {
                                            background-color: aqua;
                                            height: 100vh;
                                            width: 30vw;
                                        }
                                        
                                        .sidebar_ .links {
                                            display: grid;
                                            height: 70vh;
                                            cursor: pointer;
                                        }
                                        
                                        .link,
                                        .smedias {
                                            padding: 4rem;
                                        }
                                        
                                        .cross {
                                            height: 25px;
                                            padding: 5px;
                                            float: right;
                                            cursor: pointer;
                                        }
                                        
                                        .ham {
                                            height: 30px;
                                            cursor: pointer;
                                        }
                                        /* }

@media screen and (max-width:870px) {
    .links,
    .smedias {
        display: none;
    }
    .nav {
        grid-template-columns: 1.5fr 2fr 0.2fr;
    }
    .ham {
        display: block;
    }
    .link {
        padding: 10px;
    }
    #fill {
        display: block;
    }
} */