* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style-type: none;
}

nav {
    padding: 2em;
    display: grid;
    grid-template-columns: 1.5fr 1fr 2fr 1fr;
    box-shadow: 1px 1px 7px black;
}

.sidebar {
    background-color: aqua;
    height: 100vh;
    width: 30vw;
}

.links {
    display: grid;
    height: 70vh;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    cursor: pointer;
}

.link,
.smedias {
    padding: 5rem;
}

.ham {
    height: 30px;
    display: none;
    cursor: pointer;
}

#fill {
    display: none;
}

@media screen and (max-width:870px) {
    .links,
    .smedias {
        display: none;
    }
    .nav {
        grid-template-columns: 1.5fr 2fr 0.2fr;
    }
    .ham {
        display: block;
    }
    .link {
        padding: 10px;
    }
    #fill {
        display: block;
    }
}